/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.slick-track2 {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*    width: 101% !important;*/
}

.slick-list.draggable {
    height: 233px;

}





.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;

}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.wid29 {
    width: 29% !important;
}


.regular.slider.new .slick-next {
    right: 2rem;
    top: -4rem;
}

.regular.slider.new .slick-prev {
    left: 2rem;
    top: -4rem;
}

.description .regular.slider.new ul li {
    margin-right: 0;
}


.description.width100 .slick-list.draggable {
    height: 265px;
}



/*1個*/
.slick-slide {
    margin: 0px 20px;

}


.lazy .slick-slide {
    width: 10% !important;
}



section.lazy.slider {
    width: 54%;
}



.lazy .slick-list.draggable{
    height: 278px !important;
}



@media only screen and (max-width:820px) {

    section.lazy.slider {
        width: 60%;
    }
 

.lazy .slick-slide {
    width: 9.5% !important;
}


.lazy .slick-list.draggable {
    height: 222px !important;
}



}






@media only screen and (max-width:768px) {



    .slick-list {
        height: auto;
        width: 111%;
    }


    .lazy .slick-list.draggable {
        height: 243px !important;
    }



    .description.width100 .sp .slick-list {
        width: 102%;
        height: 343px !important;
    }


    .description.width100 .slick-slide img {
        width: 99%;
        background: #fff;
        padding: 6px;
    }


    .regular.slider.new .slick-prev {
        left: 3.5rem;
    }

    .regular.slider.new .slick-next {
        right: 0rem;
    }

    .description.width100.normal .slick-initialized .slick-slide {
        display: block;
        width: 4.1% !important;
        margin: 0px 174px;
    }

    .description.width100 .sp.slick-initialized .slick-slide {
        width: 1.8% !important;
        display: block;
    }

    .sp.slick-slide {
        margin: 0px 146px;
    }


}







@media only screen and (max-width:428px) {


    .lazy .slick-slide {
        width: 9.3% !important;
    }

    .regular.slider.new .slick-prev {
        left: 0.5rem;
    }

.description.width100 .sp.slick-initialized .slick-slide {
    width: 2.8% !important;
    display: block;
}



.description.width100.normal .slick-initialized .slick-slide {
    display: block;
    width: 5.5% !important;
    margin: 0px 54px;
}



.sp.slick-slide {
    margin: 0px 62px;
}


.description.width100 .sp .slick-list {
    width: 102%;
    height: 252px !important;
}


}






@media only screen and (max-width:414px) {


    .description.width100 .slick-initialized .sp.slick-slide {
        opacity: 1;
        width: 3.3% !important;
        margin: 0px 41px 0;
    }


    section.lazy.slider {
        width: 87%;
    }
    



    .description.width100 .slick-slide img {
        width: 96%;

    }


    .description.width100 .slick-slide img.sp {
        width: 100%;

    }


    .description.width100 .sp .slick-list {
        height: 261px !important;
    }

    .regular.slider.new .slick-prev {
        left: 0.5rem;
    }


    .description.width100.normal .slick-initialized .slick-slide {
        width: 7% !important;
        margin: 0px 16px;
    }

    .description.width100.normal .slick-list {

        width: 107%;
    }

    .description.width100.normal .slick-slide {
        margin: 0px 16px;
    }



}






@media only screen and (max-width: 390px){



.description.width100 .slick-initialized .sp.slick-slide {
    margin: 0px 31px 0;
}




}






@media only screen and (max-width:375px) {





    .description.width100 .sp .slick-list {
        height: 245px !important;
    }


    .description.width100.normal .slick-initialized .slick-slide {
        width: 6.9% !important;
        margin: 0px 16px;
    }


    .description.width100 .slick-initialized .sp.slick-slide {
        width: 3.5% !important;
        margin: 0px 30px 0;
    }


}








@media only screen and (max-width:320px) {

    .description.width100.normal .slick-initialized .slick-slide {
        width: 6.6% !important;
        margin: 0px 18px;
    }

    .description.width100 .slick-list {
        height: 215px !important;
    }

    .description.width100 .slick-initialized .sp.slick-slide {
        width: 3.7% !important;
        margin: 0px 19px 0;
    }

}
